<div id="footer">
		<ul>
			<li>
				<a href="#">Blog</a>
			</li>
			<li>
				<a href="#">Terms & Conditions</a>
			</li>
			<li>
				<a href="#">Privacy Policy</a>
			</li>
		</ul>
	</div>
	<!-- Footer Ends -->
</body>
</html>
