<h1>Listing All Posts</h1>
<!-- Section left starts -->
<div id="float_left">
	<div id="clear">
		<!-- List Activities Starting here -->
		<ul class="activity">
			<%= render @posts %>
			<div id="clear"></div>
		</ul>
		<!-- List activities ends here -->