<h1>Listing All Posts</h1>
<!-- Section left starts -->
<div id="float_left">
	<div id="clear">
		<!-- List Activities Starting here -->
		<ul class="activity preload">

			<!-- this is where the posts will be refreshed  -->
			<div id="clear"></div>
		</ul>
		<!-- List activities ends here -->