<% @comments.each do |comment| %>
<li class="<%= cycle('odd' , 'even' ) %>" id="comment_<%= comment.id %>"> 
	<b><%= comment.user.username %></b>
	<br />
	<%= comment.comment_content %>
</li>
<% end %>