/* 
	Project : RailsBlog;
	Dev		: Zech;
	Date  	: November 2013;
	Desc	: Simple Rails Blog for Arusha Tech Community;
*/


/* Elements */
body{
	margin: 0px;
	padding: 0px;
	background: #f4f1ec url('blog/body_bg.png') top repeat-x;
	font-family: "Trebuchet MS", Helvetica, Arial, "sans-serif";
	font-size: 12px;
}

a{
	text-decoration: none;
}

#clear{
	clear: both;
}

/* Header */
#header{
	width: 80%;
	margin: 0px auto;
}

/* Wrapper */
#wrapper{
	width: 80%;
	margin: 30px auto 10px auto;

}

/*navbar */
.navbar{
	float: right;
	width: 70%;
	padding: 10px;
	text-align: right;
	font-size: 1.0em;
	margin-top: 8px;
}

.navbar ul{
	margin: 0px;
	padding: 0px;
}

.navbar li{
	padding: 21px 0px;
	list-style: none;
	display: inline;
}

.navbar a{
	padding: 21px 20px;
	color: #fff;
	text-decoration: none;
}

.navbar a:hover{
	padding: 21px 20px;
}

/*action buttons for accepting or rejecting friendship requests*/
ul#actions{
	position: absolute;
	top: -4px;
	right: 0px;
}
#actions li{
	display: inline;
	padding: 4px 5px;
}

li.accept{
	float: left;
}

li.decline{
	float: left;
}

.user_list{
	position: relative;
}


/* logo */
.logo{
	float: left;
	width: auto;
	margin-top: 14px;
	margin-left: 10px;
}

.logo h1{
	margin: 0px;
	padding: 0px;
	color: #fff;
}

.logo h1 a{
	color: #fff;
	text-decoration: none;
}

/* Right Section */
.section_right{
	float: left;
	width: 60%;
	background: #fff;
	margin-top: 20px;
	/*-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 0 4px #888;
	-webkit-box-shadow: 0 0 4px#888;*/
	box-shadow: 0 0 4px #888;
}

h3 a{
	color: #A09F9E;
}

.section_right h1, h2{
	background: #f6f9fe;
	margin-top: 0px;
	border-bottom: 1px solid #eeeeee;
	padding: 10px;
	color: #979694;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 1px;
}

.section_right #float_left{
	float: left;
	width: 93.6%;
	min-height: 300px;
	margin-top: -16px;
	padding: 20px;
}

.section_right #float_right{
	float: right;
	width: 20%;
}

textarea#notes{
	width: 100%;
}

#add_notes_button{
	float: right;
}

/* activity stream */
.activity{
	padding: 0px;
	margin: 0px;
	font-size: 1.2em;
	color: #838280;
}

.activity em{
	font-size: 12px;
}

.activity h3{
	margin-bottom: 0px;
}

.activity li{
	border-bottom: 1px solid #eeeeee;
	padding-bottom: 10px;
	list-style: none;
	padding-left: 0px;
	padding-right: 10px;
}

.activity h3 span{
	color: #ccc;
	font-size: 1.0em;
}

#comment_form{
	display: none;
}

.activity span{
	color: #ccc;
}

.activity li.email{
	background: url('blog/email_icon.png') no-repeat 0px 5px;
	padding-left: 35px;
}

.activity li.document{
	background: url('blog/document_icon.png') no-repeat 0px 5px;
	padding-left: 35px;
}

ul#comments{
	margin: 0px;
	padding: 0px;
}

#comments li{
	list-style: none;
	padding: 10px;
	margin: 0px 0px 2px 0px;
}

#comments li.odd{
	background: #F0EEEB;
}

#comments li.even{
	/*border: 1px solid #F0EEEB;*/
}


/* Left Section */
.section_left{
	float: left;
	width: 25%;
	margin-top: 20px;
	font-size: 1.1em;
}

#left_nav{
	float: left;
	text-align: left;
	margin: 0px;
	padding: 0px;
}

#left_nav ul{
	margin: 0px;
	padding: 0px;
}

#left_nav li{
	list-style: none;
	padding: 8px 30px;
}

#left_nav a{
	text-decoration: none;
	color: #666561;
}

#left_nav .home{
	background: url('blog/icons.png') 0px 4px no-repeat;
}

#left_nav .activities{
	background: url('blog/icons.png') 0px -21px no-repeat;
}

#left_nav .contacts{
	background: url('blog/icons.png') 0px -53px no-repeat;
}

#left_nav .tasks{
	background: url('blog/icons.png') 0px -82px no-repeat;
}

#left_nav .cases{
	background: url('blog/icons.png') 0px -109px no-repeat;
}

#left_nav .deals{
	background: url('blog/icons.png') 0px -136px no-repeat;
}

#left_nav .notes{
	background: url('blog/icons.png') 0px -166px no-repeat;
}

#left_nav span{
	color: #cdcdcb;
	font-weight: bold;
}

.holder{
	margin-left: 20px;
	padding-bottom: 20px;
	margin-right: 20px;
}
.content{
	font-size: 1.2em;
	color: #838280;
	line-height: 27px;
}


/* footer */

#footer{
	margin: 0px auto;
	width: 60%;
	text-align: right;
	font-size: 1.0em;
}

#footer li{
	list-style: none;
	display: inline;
	padding: 10px 20px;
}

#footer a{
	text-decoration: none;
	color: #666561;
}

#flash{
	width: 97%;
	position: relative;
	
}

#flash_notice{
	background: #F8C982;
	padding: 10px;
	height: 20px;
	width: 99.7%;
}

#close{
	position: absolute;
	right: 0px;
	top: 10px;
	color: #f6f9fe;
	cursor: pointer;
}


#flash_alert{
	background: red;
	padding: 10px;
	height: 20px;
	width: 99.7%;
}


/* ==========================================================
(12) FORMS
============================================================ */

/* ----------------------------------------------  Reset form elements ---------------------------------------------- */
	
	input, select, textarea {
		margin:0; padding:0; font-size:13px; outline:none;
		font-family:inherit;	
		-moz-box-sizing:border-box; /* Firefox */
		-webkit-box-sizing:border-box; /* Safari */
		box-sizing:border-box;}

	#post_content{
		height: 280px;
	}	

/* ----------------------------------------------  Inputs, textareas and selects  ---------------------------------------------- */


	input[type="text"],input[type="email"],input[type="password"], textarea, select, div.styled, input[type="file"] {  
		width:100%; border-radius:2px; border: solid 1px #ccc; padding:0.4em;}
	
	div.styled, select, input[type="submit"], input[type="button"], 
	input[type="file"]:after {
		background: white url(formelements-select.png) no-repeat center right;
		-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2); 
		box-shadow: 0 1px 3px rgba(0,0,0,0.2);}	
	
	input[type="text"],input[type="password"], textarea, input[type="file"], input[type="email"] { 
		background-color: #f5f5f5;
		-webkit-box-shadow: inset 0 2px 3px rgba(0,0,0,0.2);
		box-shadow: inset 0 2px 3px rgba(0,0,0,0.2);}
	
		.ie9 input[type="text"] { line-height:normal; } /* Get the stuff to line up right */
	
	textarea { width:100%; height:10em; }
	
/* ----------------------------------------------  Select menu  ---------------------------------------------- */
	
	/* For IE and Firefox */

	div.styled { overflow:hidden; padding:0; margin:0; }
		
		.ie7 div.styled {border:none;}

	div.styled select {	
		width:100%; background-color:transparent; background-image:none;
		-webkit-appearance: none; border:none; box-shadow:none;}
		
		.ie7 div.styled select {
			width:100%; background-color:#fff; border: solid 1px #ccc; 
			padding:0.3em 0.5em;}	
	
/* ----------------------------------------------  File field  ----------------------------------------------  */

	

/* ----------------------------------------------  Inputs, textareas and selects  ---------------------------------------------- */


	input[type="text"], input[type="password"], textarea, div.styled, input[type="file"], input[type="url"], input[type="email"] {  
		width:100%; 
		border-radius:2px; 
		border: solid 1px #ccc; 
		padding:7px 5px;
	}

	
	div.styled, select, input[type="submit"], input[type="button"], 
	input[type="file"]:after {
		background: white url(blog/formelements-select.png) no-repeat center right;
		-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2); 
		box-shadow: 0 1px 3px rgba(0,0,0,0.2);}	
	
	input[type="text"], textarea, input[type="file"], input[type="url"] { 
		background-color: #f5f5f5;
		-webkit-box-shadow: inset 0 2px 3px rgba(0,0,0,0.2);
		box-shadow: inset 0 2px 3px rgba(0,0,0,0.2);}
	
		.ie9 input[type="text"] { line-height:normal; } /* Get the stuff to line up right */
	
	
/* ----------------------------------------------  Select menu  ---------------------------------------------- */
	
	/* For IE and Firefox */

	div.styled { overflow:hidden; padding:0; margin:0; }
		
		.ie7 div.styled {border:none;}

	div.styled select {	
		width:100%; background-color:transparent; background-image:none;
		-webkit-appearance: none; border:none; box-shadow:none;}
		
		.ie7 div.styled select {
			width:100%; background-color:#fff; border: solid 1px #ccc; 
			padding:0.3em 0.5em;}	
	

/* ----------------------------------------------  Checkboxes and Radio inputs  ----------------------------------------------  */	
		
	input[type="radio"], 
	input[type="checkbox"] { position: absolute; left: -999em; }
		
	label:before { 
		display: inline-block; position: relative; top:0.25em; left:-2px; 
		content:''; width:25px; height:25px;
		background-image:url(blog/formelements.png); }
	
	input[type="checkbox"] + label:before { background-position: 0 -25px;}
	input[type="checkbox"]:checked + label:before {background-position: 0 0 ; }
		 
	input[type="radio"] + label:before { background-position: -25px -25px;}	 	
	input[type="radio"]:checked + label:before { background-position: -25px 0;}
	
		/* Remove the custom styling for IE 7-8 */
		
		.ie8 label:before { display:none; content:none; }
		
		.ie8 input[type="checkbox"],
		.ie8 input[type="radio"],
		.ie7 input[type="checkbox"],
		.ie7 input[type="radio"]{ 
			position: static; left:0; }
		
		.ie8 input[type="checkbox"],
		.ie8 input[type="radio"] { 
			position:relative; top:5px; margin-right:0.5em;}	
			
	input[type="text"]:focus, input[type="email"]:focus, input[type="url"]:focus, textarea:focus {
		border-color:#000;
		}

	form p{
		margin: 10px 0px 5px 0px;
	}	

/* ---------------------------------------------- Form Submit and Next buttons ---------------------------------------------- */	

	input[type="submit"], 
	input[type="button"] { 
		padding:0.5em 1em; line-height:1em; cursor:pointer;
		border-radius:4px; color:#000; font-weight:bold; font-size:inherit;
		border:solid 1px #ccc;	box-shadow:0 1px 5px rgba(0,0,0,0.2);
		background-position: center bottom;}
		
		/* Gradient Generator by : http://www.colorzilla.com/gradient-editor/ */
		
	input[type="submit"]:active, 
	input[type="button"]:active {-webkit-box-shadow: none; box-shadow:none;}
		
		/* IE7 needs you to change the background to transparent when using image background for submit buttons */	


